<td *ngIf="displayImage" class="img-product">
    <img
        src="http://cdn2.foodviva.com/static-content/food-images/juice-recipes/fresh-tomato-juice-recipe/fresh-tomato-juice-recipe.jpg"
    >
</td>
<td>
    <p>{{ product.name }}</p>
    <p *ngIf="displayDescription" class="small text-muted">{{ product.description }}</p>
</td>
<td class="text-right text-muted d-none d-md-table-cell text-nowrap">
    <ng-container *ngIf="product.number_left >= 0">
        {{ product.number_left }} restants
    </ng-container>

    <ng-container *ngIf="product.number_left < 0">
        Stocks illimités
    </ng-container>
</td>
<td class="text-right">
    <strong>{{ product.price }}€</strong>
</td>
<td class="text-right">
    <ng-container
            *ngIf="product.orderable_online && product.number_left != 0 && basketQuantity == 0">
        <button class="btn btn-success btn-sm" (click)="handleAddButtonClick()">
            <i class="fe fe-shopping-cart"></i> +1
        </button>
    </ng-container>

    <ng-container *ngIf="basketQuantity > 0">
        <input
                type="number" class="form-control w-8 pull-right"
                [ngModel]="basketQuantity"
                (change)="handleChangeQuantityButtonClick($event.target.value)"
        >
    </ng-container>
</td>