<navbar></navbar>

<div class="container mt-5">
    <div *ngIf="error">
        <p class="text-danger">
            Une erreur est survenue {{ error }}
        </p>
    </div>

    <div *ngIf="association && folder">
        <div class="row">
            <!-- Association sidebar. -->
            <div class="col-md-3">
                <association-sidebar [association]="association"></association-sidebar>
            </div>

            <!-- Association folder. -->
            <div class="col-md-9">
                <!-- Folder view. -->
                <association-filesystem-breadcrumb
                        [association]="association"
                        [folder]="folder"
                ></association-filesystem-breadcrumb>

                <!-- Not adding a file: display the folder. -->
                <div class="card">
                    <ng-container *ngIf="this.role.hasPermission('files') | async">
                        <div class="card-header">
                            <!-- Actions on folders -->
                            <span class="fe fe-folder-plus mr-2" (click)="createFolder()"></span>
                            <div *ngIf="folder.id">
                                <span class="fe fe-folder-minus mr-2" (click)="deleteFolder()"></span>
                                <span class="fe fe-edit" (click)="editFolderName()"></span>
                            </div>

                            <div class="card-options">
                                <a class="btn btn-primary btn-sm ml-2"
                                   *ngIf="folder.id"
                                   routerLink="/associations/{{association.id}}/files/{{folder.id}}/add"
                                >Ajouter un fichier</a>

                                <a class="btn btn-primary btn-sm ml-2"
                                   *ngIf="!folder.id"
                                   routerLink="/associations/{{association.id}}/files/add/root"
                                >Ajouter un fichier</a>
                            </div>
                        </div>
                    </ng-container>

                    <!-- Check whether the folder is empty. -->
                    <ng-container
                            *ngIf="folder.files.length == 0 && folder.children.length == 0;
                                   then emptyFolder;
                                   else notEmptyFolder;"
                    ></ng-container>

                    <!-- Empty folder. -->
                    <ng-template #emptyFolder>
                        <div class="card-body text-center">
                            Le dossier est vide.
                        </div>
                    </ng-template>

                    <!-- Display the content of the folder. -->
                    <ng-template #notEmptyFolder>
                        <div class="card-body">
                            <div class="row">
                                <p *ngFor="let folder of folder.children"
                                   (click)="openFolder(folder)"
                                   class="col-md-3 text-center"
                                >
                                    <img src="/assets/folder.svg" alt="Folder icon"><br>
                                    {{ folder.name }} <br>
                                    <span class="text-muted">{{ folder.number_of_elements }} éléments</span>
                                </p>

                                <p *ngFor="let file of folder.files"
                                   class="col-md-3 text-center"
                                   (click)="openFile(file)"
                                >
                                    <img src="/assets/file.svg" alt="File icon"><br>
                                    {{ file.name }} <br>
                                    <span class="text-muted">{{ file.uploaded_on | date:"dd/MM/yyyy" }}</span>
                                </p>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
