<navbar></navbar>

<div class="container mt-5">
    <div *ngIf="association">
        <div class="row">
            <div class="col-md-3">
                <association-sidebar [association]="association"></association-sidebar>
            </div>
            <div class="col-md-9">
                <div class="btn btn-primary mb-2" *ngIf="!is_writing_news" style="float: right" (click)="createNews()"><i class="fe fe-edit-3 mr-1"></i>Écrire une news</div>
                <div class="card" *ngIf="is_writing_news">
                    <div class="card-header">
                        <input type="text" class="form-control" [(ngModel)]="the_new_news.title" placeholder="Titre"/>
                        <div class="btn btn-primary mx-2" style="float: right; min-width: unset" (click)="publishNews()"><i class="fe fe-send mr-1"></i>Publier</div>
                        <div class="btn btn-primary btn-red" style="float: right; min-width: unset" (click)="cancelPublishNews()"><i class="fe fe-trash-2 mr-1"></i>Annuler</div>
                    </div>
                    <div class="card-body">
                        <angular-markdown-editor textareaId="input_new" [(ngModel)]="the_new_news.text" rows="10" name="markdownText" [options]="editorOptions"></angular-markdown-editor>
                    </div>
                </div>
                <div class="card" *ngFor="let n of news; let i = index">
                    <div class="card-header">
                        <h3 class="card-title">{{ n.title }}</h3>
                        <div *ngIf="!n.editing else showUpdateNewsButton" class="card-options">
                            <a (click)="editNews(n)" class="fe fe-edit mr-3"></a>
                            <a (click)="deleteNews(n)" class="fe fe-trash-2 mr-3"></a>
                        </div>
                        <ng-template #showUpdateNewsButton>
                            <div (click)="finishEditing(n)" class="btn btn-primary" style="display: flex; margin-left: auto">Mettre à jour</div>
                        </ng-template>
                    </div>
                    <div class="card-body">
                        <div *ngIf="!n.editing; else showMarkdownEditor">
                                <markdown [data]="n.text"></markdown>
                        </div>
                        <ng-template #showMarkdownEditor>
                            <angular-markdown-editor textareaId="input{{i}}" [(ngModel)]="n.text" rows="10" name="markdownText" [options]="editorOptions"></angular-markdown-editor>
                        </ng-template>
                    </div>
                    <div class="card-footer" style="display: flex;">
                        <div class="card-options">
                                <span>
                                    Par <a routerLink="/user/{{n.author}}/" class="ml-0">{{n.author}} </a> le {{n.date | date:'d/M/y'}}
                                </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div *ngIf="error">
        <p class="text-danger">
            Une erreur est survenue {{ error }}
        </p>
    </div>
</div>

