<div class="card">
    <div class="card-status card-status-left bg-blue" *ngIf="isEditing"></div>
    <div class="card-status card-status-left bg-red" *ngIf="!isEditing && campagne.status == 0"></div>
    <div class="card-status card-status-left bg-orange" *ngIf="!isEditing && campagne.status == 1"></div>
    <div class="card-status card-status-left bg-green" *ngIf="!isEditing && campagne.status == 2"></div>
    <!-- Header -->
        <!-- If editing -->
    <div class="card-header" *ngIf="isEditing">
        <button class="btn btn-primary btn-red" style="float: right; min-width: unset" (click)="cancelEdition()" [(disabled)]="controlLock" *ngIf="isEditing"><i class="fe fe-x ml-1 mr-1"></i>Annuler</button>
        <input type="text" class="form-control ml-2 mr-2" [class.is-invalid]="edit_campagne.title==''" [(ngModel)]="edit_campagne.title" [(disabled)]="controlLock" placeholder="Nouvelle campagne" *ngIf="isEditing"/>
        <button class="btn btn-primary btn-green" style="float: right; min-width: unset" (click)="submitInput()" [(disabled)]="controlLock" *ngIf="isEditing"><i class="fe fe-save ml-1 mr-1"></i>Valider</button>
    </div>
        <!-- If not editing -->
    <div class="card-header" *ngIf="!isEditing">
        <h3 class="card-title">{{ campagne.title }}</h3>
        <div class="card-options" *ngIf="displayParameters.canEdit">
            <span class="mr-2">Mode admin</span>
			<label class="custom-switch m-0">
				<input type="checkbox" name="custom-switch-checkbox" [(ngModel)]="asAdmin" [(disabled)]="controlLock" class="custom-switch-input">
				<!-- <span class="custom-switch-description" *ngIf="!isEditing">Mode admin</span> -->
				<span class="custom-switch-indicator"></span>
			</label>
        </div>
    </div>


    <!-- Alert message -->
    <div class="card-alert alert alert-danger mb-0" *ngIf="shownMessage != null">{{ shownMessage }}</div>
    

    <!-- Body -->
        <!-- If not editing, admin or not -->
    <div class="card-body" *ngIf="!isEditing">
        <div class="form-group" *ngIf="asAdmin">
            <label class="form-label">Status</label>
            <div class="form-control-plaintext text-right" *ngIf="campagne.status == 0">En préparation</div>
            <div class="form-control-plaintext text-right" *ngIf="campagne.status == 1">En cours</div>
            <div class="form-control-plaintext text-right" *ngIf="campagne.status == 2">Terminée</div>
        </div>
        <div class="form-group" *ngIf="asAdmin">
            <label class="form-label">Promotion</label>
            <div class="form-control-plaintext text-right">{{ campagne.promotion }}</div>
        </div>
        <div class="form-group" *ngIf="asAdmin">
            <label class="form-label">Équirepartition</label>
            <div class="form-control-plaintext text-right" *ngIf="campagne.equirepartition">Oui</div>
            <div class="form-control-plaintext text-right" *ngIf="!campagne.equirepartition">Non</div>
        </div>
        <div class="form-group" *ngIf="campagne.status < 2">
            <label class="form-label">Propositions</label>
            <div *ngIf="campagne.status == 1">
                <div class="input-group mb-1" *ngFor="let j of campagne.voeux; let i = index">
                    <div class="input-group-append" *ngIf="campagne.status==1">
                        <button type="button" class="btn btn-primary" (click)="increasePosition(i)" [disabled]="i==0"><i class="fe fe-arrow-up ml-1 mr-1"></i></button>
                        <button type="button" class="btn btn-primary" (click)="decreasePosition(i)" [disabled]="i==campagne.voeux.length-1"><i class="fe fe-arrow-down ml-1 mr-1"></i></button>
                    </div>
                    <input type="text" disabled="" class="form-control" [(ngModel)]="campagne.propositions[j].name">
                    <span class="input-group-append" *ngIf="!campagne.equirepartition">
                        <span class="input-group-text" *ngIf="campagne.propositions[j].min == campagne.propositions[j].max">{{campagne.propositions[j].min}} élève(s)</span>
                        <span class="input-group-text" *ngIf="campagne.propositions[j].min != campagne.propositions[j].max">{{campagne.propositions[j].min}}-{{campagne.propositions[j].max}} élève(s)</span>
                    </span>
                </div>
            </div>
            <div *ngIf="campagne.status != 1">
                <div class="input-group mb-1" *ngFor="let x of campagne.propositions; let j = index">
                    <input type="text" disabled="" class="form-control" [(ngModel)]="campagne.propositions[j].name">
                    <span class="input-group-append" *ngIf="!campagne.equirepartition">
                        <span class="input-group-text" *ngIf="campagne.propositions[j].min == campagne.propositions[j].max">{{campagne.propositions[j].min}} élève(s)</span>
                        <span class="input-group-text" *ngIf="campagne.propositions[j].min != campagne.propositions[j].max">{{campagne.propositions[j].min}}-{{campagne.propositions[j].max}} élève(s)</span>
                    </span>
                </div>
            </div>
            <div class="form-control-plaintext text-right" *ngIf="campagne.propositions.length == 0">Aucune proposition pour l'instant</div>
        </div>
        <div class="form-group" *ngIf="campagne.status == 2">
            <label class="form-label">Répartition finale</label>
            <div class="form-control-plaintext text-right">{{ campagne.propositions[campagne.resultat].name }}</div>
        </div>
        <div class="form-group" *ngIf="asAdmin && campagne.status == 1">
            <label class="form-label">Réponses</label>
            <div class="form-control-plaintext text-right" *ngIf="campagne.progress == undefined || campagne.progress == null">Information indisponible</div>
            <div class="form-control-plaintext text-right" *ngIf="campagne.progress != undefined && campagne.progress != null">{{ campagne.progress.haveRep.length }} réponse(s) sur {{ campagne.progress.haveRep.length + campagne.progress.haventRep.length }}</div>
        </div>
        <div class="form-group" *ngIf="asAdmin && campagne.status == 1 && (campagne.progress != undefined && campagne.progress != null)">
            <label class="form-label">Personnes ayant répondu</label>
            <div class="selectize-control form-control multi">
                <div class="selectize-input items not-full has-options has-items">
                    <div class="item" data-value="y" *ngFor="let y of campagne.progress.haveRep">{{ y }}</div>
                </div>
            </div>
        </div>
        <div class="form-group" *ngIf="asAdmin && campagne.status == 1 && (campagne.progress != undefined && campagne.progress != null)">
            <label class="form-label">Personnes n'ayant pas répondu</label>
            <div class="selectize-control form-control multi">
                <div class="selectize-input items not-full has-options has-items">
                    <div class="item" *ngFor="let y of campagne.progress.haventRep">{{ y }}</div>
                </div>
            </div>
        </div>
    </div>

        <!-- If editing -->
    <div class="card-body" *ngIf="isEditing">
        <!-- Promo ? -->
        <div class="form-group" *ngIf="displayParameters.restriction.length != 0">
            <label class="form-label">Promotion</label>
            <div class="selectgroup w-100">
                <label class="selectgroup-item" *ngFor="let n of displayParameters.restriction">
                    <input type="radio" name="value" value="{{ n }}" class="selectgroup-input" [(ngModel)]="edit_campagne.promotion">
                    <span class="selectgroup-button">{{ n }}</span>
                </label>
            </div>
        </div>
        <div class="form-group" *ngIf="displayParameters.restriction.length == 0">
            <label class="form-label">Promotion</label>
            <input type="text" class="form-control" name="example-text-input-valid" placeholder="P18" [(ngModel)]="edit_campagne.promotion">
        </div>
        <div class="form-group">
            <div class="form-label">Équirépartition</div>
            <label class="custom-switch">
                <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" [(ngModel)]="edit_campagne.equirepartition">
                <span class="custom-switch-indicator"></span>
                <span class="custom-switch-description">Répartir les élèves équitablement</span>
            </label>
        </div>
        <div class="form-group">
            <label class="form-label">Propositions</label>
            <div *ngFor="let x of edit_campagne.propositions; let j = index">
                <div class="row gutters-xs mb-1">
                    <div [class.col-7]="!edit_campagne.equirepartition" [class.col-11]="edit_campagne.equirepartition">
                        <input type="text" class="form-control" [class.is-invalid]="edit_campagne.propositions[j].name==''" placeholder="Nouvelle proposition" [(ngModel)]="edit_campagne.propositions[j].name">
                    </div>
                    <div class="col-2" *ngIf="!edit_campagne.equirepartition">
                        <input type="number" [class.is-invalid]="edit_campagne.propositions[j].max < edit_campagne.propositions[j].min" class="form-control" placeholder="0" [(ngModel)]="edit_campagne.propositions[j].min">
                    </div>
                    <div class="col-2" *ngIf="!edit_campagne.equirepartition">
                        <input type="number" [class.is-invalid]="edit_campagne.propositions[j].max < edit_campagne.propositions[j].min" class="form-control" placeholder="999" [(ngModel)]="edit_campagne.propositions[j].max">
                    </div>
                    <button class="btn btn-red ml-auto mb-auto" (click)="deleteProposition(j)"><i class="fe fe-x"></i></button>
                </div>
            </div>
            <button class="btn btn-default ml-auto" (click)="newProposition()"><i class="fe fe-plus ml-1 mr-1"></i>Nouvelle proposition</button>
        </div>
    </div>

    <!-- Footer -->
    <div class="card-footer" *ngIf="asAdmin && !isEditing && campagne.status == 0">
        <button [(disabled)]="controlLock" class="btn btn-primary btn-default mr-1 ml-1" style="float: left; min-width: unset" (click)="startEditing()"><i class="fe fe-edit-2 ml-1 mr-1"></i>Editer</button>
        <button [(disabled)]="controlLock" class="btn btn-primary btn-default mr-1 ml-1" style="float: middle; min-width: unset" (click)="deleteCampaign()"><i class="fe fe-trash ml-1 mr-1"></i>Supprimer</button>
        <button [(disabled)]="controlLock" class="btn btn-primary btn-default mr-1 ml-1" style="float: right; min-width: unset" (click)="startCampaign()"><i class="fe fe-send ml-1 mr-1"></i>Lancer</button>
    </div>
    <div class="card-footer" *ngIf="asAdmin && !isEditing && campagne.status == 1">
        <button [(disabled)]="controlLock" class="btn btn-primary btn-default mr-1 ml-1" style="float: middle; min-width: unset" (click)="deleteCampaign()"><i class="fe fe-trash ml-1 mr-1"></i>Supprimer</button>
        <button [(disabled)]="controlLock" class="btn btn-primary btn-default mr-1 ml-1" style="float: right; min-width: unset" (click)="stopCampaign()"><i class="fe fe-check ml-1 mr-1"></i>Terminer</button>
    </div>
    <div class="card-footer" *ngIf="asAdmin && !isEditing && campagne.status == 2">
        <button [(disabled)]="controlLock" class="btn btn-primary btn-default mr-1 ml-1" style="float: middle; min-width: unset" (click)="deleteCampaign()"><i class="fe fe-trash ml-1 mr-1"></i>Supprimer</button>
    </div>
</div>