<navbar></navbar>

<div class="container">

    <div *ngIf="$users">
        <div class="row mt-3 p-2">
            <input
                    type="text" class="form-control col-md-3" placeholder="Rechercher"
                    [(ngModel)]="search_text" appDebounceChange (debounceChange)="updateParameters()"
                    [debounceTime]="700"
            >
            <select class="custom-select col-md-2 offset-md-7" ngModel="selectedPromotion"
                    [(ngModel)]="search_promotion" (change)="updateParameters()">
                <option value="-1" selected="selected">Toutes les promos</option>
                <option *ngFor="let i of promotions" value="{{i}}">P{{i}}</option>
            </select>
        </div>

        <div class="row">
            <div class="col-lg-2 col-sm-3 col-6 p-2"
                 *ngFor="let user of $users | async | paginate: { itemsPerPage: 50, currentPage: p }">
                <div class="card mb-0">
                    <a routerLink="/user/{{ user.id }}">
                        <div class="card-body text-center ">
                            <profile-photo [user]="user"></profile-photo>
                            <p class="mt-2">{{ user.first_name }} {{ user.last_name }}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <div *ngIf="($users|async) && ($users|async).length == 0" class="container text-center">
            <div class="display-1 text-muted mb-5"><i class="si si-exclamation"></i> 404</div>
            <h1 class="h2 mb-3">Nous n'avons trouvé personne...</h1>
            <p class="h4 text-muted font-weight-normal mb-7">Peut être avez vous fait une faute de frappe ?</p>
        </div>

        <app-pagination-controls
                (pageChange)="p = $event"
                previousLabel="Précédent"
                nextLabel="Suivant"
        ></app-pagination-controls>
    </div>

</div>
