<navbar></navbar>

<div class="container mt-5">
    <div *ngIf="association && roles">
        <div class="row">
            <div class="col-md-3">
                <association-sidebar [association]="association"></association-sidebar>
            </div>

            <div class="col-md-9">
                <div class="page-header mb-5">
                    <h1 class="page-title">Membres de l'associations</h1>
                    <div class="btn btn-primary ml-auto" *ngIf="!is_editing" (click)="startEditing()"><i class="fe fe-edit-3 mr-1"></i>Modifier</div>
                    <div class="btn btn-success ml-auto" *ngIf="is_editing && editing === null && !creating" (click)="finishEditing()">Terminer</div>
                </div>
                <p [innerHTML]="status"></p>
                <div class="members-grid" *ngIf="!creating" dragula="MEMBERS" [(dragulaModel)]="roles">
                    <ng-container *ngFor="let role of roles">
                        <div *ngIf="editing == null" style="display:flex">
                            <div class="card mx-auto">
                                <div class="card-header" style="padding: 0">
                                    <div class="card-title mx-auto">
                                        <a *ngIf="is_editing" (click)="onEdit(role)">{{ role.role }} </a>
                                        <span *ngIf="!is_editing">{{ role.role }}</span>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <profile-photo [user]="role.user" extra_classes='mx-auto' style="display: flex"></profile-photo>
                                    <a routerLink="/user/{{ role.user.id }}">
                                        <p class="mt-2 text-center">{{ role.user.first_name }} {{ role.user.last_name }}</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <div class="ignore-item" *ngIf="is_editing && editing === null" style="display:flex">
                        <button class="btn btn-primary ignore-item" (click)="addMember()" style="width:100%; margin-bottom: 1.5rem">
                            <i class="fe fe-plus" style="font-size:50px; vertical-align: middle;"></i>
                        </button>
                    </div>
                </div> <!--End of members_grid-->
                <!-- Start of editing component -->
                <ng-container *ngFor="let role of roles">
                    <div *ngIf="role.id === editing" class="px-2" style="width: 100%">
                        <div class="card">
                            <div class="card-header">
                                <div class="card-title">
                                    <input class="text form-control" placeholder="" [(ngModel)]=role.role>
                                </div>
                                <div class="card-options">
                                    <div class="btn-list text-right">
                                        <button type="button" (click)="deleteRole()" class="btn btn-danger btn-icon"><i class="fe fe-trash"></i></button>
                                        <button type="button" (click)="saveSingleRole()" class="btn btn-primary btn-icon"><i class="fe fe-save mr-1"></i>Enregistrer</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <profile-photo [user]="ng_select_value?ng_select_value:role.user" extra_classes='mx-auto' style="display: flex"></profile-photo>
                                        <ng-select [items]="ng_select_users | async"
                                        [loading]="ng_select_loading"
                                        (search)="load_more_user($event)"
                                        (change)="user_changed($event)"
                                        bindLabel="id"
                                        [ngModel]="role.user"
                                        (ngModel)="ng_select_value"
                                        placeholder="Utilisateur"
                                        class="mt-4"
                                        >
                                    </ng-select>
                                </div>
                                <div class="col-md-9">
                                    <div class="row" style="display: flex">
                                        <div class="col-sm-6" *ngFor="let field of rightFields" style="margin-top: auto; margin-bottom: auto">
                                            <label class="custom-switch">
                                                <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" [(ngModel)]="role[field[1]]">
                                                <span class="custom-switch-indicator" style="min-width:36px; max-width:36px"></span>
                                                <span class="custom-switch-description">{{ field[0] }}</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <!--End of editing component-->
            <!--Start of creating component-->
            <div *ngIf="creating" class="px-2" style="width: 100%">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <input class="text form-control" placeholder="" [(ngModel)]=creating_role.role>
                        </div>
                        <div class="card-options">
                            <a (click)="createRole(creating_role)">Enregistrer</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <profile-photo [user]="ng_select_value?ng_select_value:creating_role" extra_classes='mx-auto' style="display: flex"></profile-photo>
                                <ng-select [items]="ng_select_users | async"
                                [loading]="ng_select_loading"
                                (search)="load_more_user($event)"
                                (change)="user_changed($event)"
                                bindLabel="id"
                                [(ngModel)]="creating_role.user"
                                placeholder="Utilisateur"
                                class="mt-4"
                                >
                            </ng-select>
                        </div>
                        <div class="col-md-9">
                            <div class="row" style="display: flex">
                                <div class="col-sm-6" *ngFor="let field of rightFields" style="margin-top: auto; margin-bottom: auto">
                                    <label class="custom-switch">
                                        <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" [(ngModel)]="creating_role[field[1]]">
                                        <span class="custom-switch-indicator" style="min-width:36px; max-width:36px"></span>
                                        <span class="custom-switch-description">{{ field[0] }}</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--End of creating component-->
    </div>
</div>
</div>
<div *ngIf="error">
    <p class="text-danger">Une erreur est survenue {{ error }}</p>
</div>
</div>

