[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
Markdown = "*"

"psycopg2-binary" = "*"
pillow = "*"
pyjwt = "*"
pyyaml = "*"

Django = "*"
django-cors-headers = "*"
django-extensions = "*"
django-filter = "*"
django-url-filter = "*"

djangorestframework = "*"
djangorestframework-bulk = "*"
drf-extensions = "*"
djangorestframework-jwt = "*"
drf-nested-routers = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
