[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
djangorestframework = "*"
Markdown = "*"
django-filter = "*"
django-cors-headers = "*"
"psycopg2-binary" = "*"
pyjwt = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
