<app-side-bar></app-side-bar>
<!-- CONTENT -->
<div id="content" data-uk-height-viewport="expand: true">
  <div class="uk-container uk-container-expand">
    <div class=" uk-width-1-1@l uk-width-1-1@xl">
      <div class="uk-card uk-card-default uk-card-small"  style="padding: 5px;">
        <div class="uk-card-header">
          <div class="uk-grid uk-grid-small">
            <div class="uk-width-auto">
              <h4 class="uk-margin-remove-bottom pastebin-dd-text"><b>Your files</b></h4>
            </div>
            <div class="uk-width-expand uk-text-right">
              <a routerLink="file/new" class="uk-icon-link uk-margin-small-right pastebin-dd-text" data-uk-icon="icon: plus"></a>
              <a (click)="updateList(true)" class="uk-icon-link uk-margin-small-right pastebin-dd-text" data-uk-icon="icon: refresh"></a>
            </div>
          </div>
        </div>
        <div class="uk-card">
          <div class="uk-overflow-auto">
            <table class="uk-table uk-table-striped uk-table-divider uk-table-middle">
              <thead>
                <tr>
                  <th>Filename</th>
                  <th>Size</th>
                  <th>Downloads Left</th>
                  <th>State</th>
                  <th>Download link</th>
                  <th>Expires at</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let file of files">
                  <td><a href="file/see/{{ file.StorageKey }}">{{ file.Filename }}</a></td>
                  <td>{{ file.Size }}</td>
                  <td>{{ file.DownloadsLeft }}</td>
                  <td>{{ file.State }}</td>
                  <td><a href="file/{{ file.StorageKey }}">Link</a></td>
                  <td>{{ file.ExpiresAt }}</td>
                  <td>
                    <a (click)="delete(file.StorageKey)" class="uk-icon-link uk-text-danger">Delete</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>