<navbar></navbar>

<div class="container mt-5">
    <div *ngIf="marketplace">
        <div class="page-header">
            <h3 class="page-title">Magasin de {{ marketplace.association.name }}</h3>
        </div>
        <div class="row">
            <div class="col-md-3">
                <marketplace-sidebar [marketplace]="marketplace" [numberOfItems]="numberOfItems"></marketplace-sidebar>
            </div>
            <div class="col-md-9">

                <p *ngIf="error" class="text-danger">Une erreur est survenue : {{ error }}</p>

                <div class="card" *ngIf="marketplace">
                    <table class="table card-table table-vcenter">
                        <thead>
                        <tr>
                            <th></th>
                            <th>Produit</th>
                            <th class="text-center">Quantité restante</th>
                            <th class="text-center">Prix unitaire</th>
                            <th class="text-center">Dans le cataglogue</th>
                            <th class="text-center">Disponible en ligne ?</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let product of marketplace.products | paginate: { itemsPerPage: 10, currentPage: p }">
                            <ng-container *ngIf="editing[product.id] == undefined || editing[product.id] == false">
                                <td class="text-right"><span class="text-primary fe fe-edit" (click)="startEdit(product)"></span></td>
                                <td>{{ product.name }}</td>
                                <td class="text-center">
                                    <ng-container *ngIf="product.number_left == -1">∞</ng-container>
                                    <ng-container *ngIf="product.number_left > -1">{{ product.number_left }}</ng-container>

                                </td>
                                <td class="text-center">{{ product.price }}€</td>
                                <td class="text-center">
                                    <span *ngIf="!product.still_in_the_catalogue" class="tag tag-red">Non</span>
                                    <span *ngIf="product.still_in_the_catalogue" class="tag tag-green">Oui</span>
                                </td>
                                <td class="text-center">
                                    <span *ngIf="!product.orderable_online" class="tag tag-red">Non</span>
                                    <span *ngIf="product.orderable_online" class="tag tag-green">Oui</span>
                                </td>
                            </ng-container>

                            <ng-container
                                    *ngIf="editing[product.id] == true"
                            >
                                <td></td>
                                <td colspan="5">

                                    <input type="text"
                                           [ngClass]="{'form-control': true, 'is-invalid': name.invalid}"
                                           [(ngModel)]="product.name" placeholder="Nom du produit"
                                           #name="ngModel"
                                           required minlength="4"
                                    >

                                    <br>

                                    <div class="row">
                                        <div class="input-group col-md-6 mb-2">

                                            <input type="number" class="form-control text-right" aria-label="Prix" [(ngModel)]="product.price">
                                            <span class="input-group-append">
                                                <span class="input-group-text">€</span>
                                            </span>
                                        </div>

                                        <div class="input-group col-md-6 mb-2">

                                            <ng-container *ngIf="product.number_left == -1">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label class="custom-control custom-checkbox custom-control-inline m-0">
                                                            <input type="checkbox" class="custom-control-input" (click)="product.number_left = 10" [checked]="product.number_left == -1">
                                                            <span class="custom-control-label">Quantitée </span>
                                                        </label>
                                                    </span>
                                                </span>
                                                <span class="input-group-append">
                                                    <span class="input-group-text">illimitée</span>
                                                </span>
                                            </ng-container>

                                            <ng-container *ngIf="product.number_left > -1">
                                                <span class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <label class="custom-control custom-checkbox custom-control-inline m-0">
                                                            <input type="checkbox" class="custom-control-input" (click)="product.number_left = -1" [checked]="product.number_left == -1">
                                                            <span class="custom-control-label">Quantitée illimitée</span>
                                                        </label>
                                                    </span>
                                                </span>
                                                <input type="number" class="form-control text-right" aria-label="Nombre restant" [(ngModel)]="product.number_left">
                                                <span class="input-group-append">
                                                    <span class="input-group-text">restants</span>
                                                </span>
                                            </ng-container>

                                        </div>

                                        <label class="custom-switch col-md-6">
                                            <input type="checkbox" class="custom-switch-input" (change)="product.still_in_the_catalogue = !product.still_in_the_catalogue" [(checked)]="!product.still_in_the_catalogue">
                                            <span class="custom-switch-indicator"></span>
                                            <span class="custom-switch-description">Masquer du catalogue</span>
                                        </label>

                                        <label class="custom-switch col-md-6">
                                            <input type="checkbox" class="custom-switch-input" (change)="product.orderable_online = !product.orderable_online" [(checked)]="product.orderable_online">
                                            <span class="custom-switch-indicator"></span>
                                            <span class="custom-switch-description">Possiblité de le commander en ligne </span>
                                        </label>

                                    </div>

                                    <br>

                                    <label
                                            for="description_{{ product.id }}"
                                            class="form-label"
                                    >
                                        Description
                                    </label>
                                    <textarea
                                            [(ngModel)]="product.description"
                                            class="form-control"
                                            id="description_{{ product.id }}"
                                    ></textarea>


                                    <button type="button" class="btn btn-secondary btn-sm mt-4" (click)="endEdit(product)">
                                        <span class="fe fe-check"></span> Sauvegarder
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm mt-4 float-right" (click)="delete(product)">
                                        <span class="fe fe-x"></span> Supprimer
                                    </button>

                                </td>
                            </ng-container>
                        </tr>
                        <tr>
                            <td colspan="6" class="text-center">
                                <button class="btn btn-success btn-sm" (click)="newProduct()"><span class="fe fe-plus"></span>Ajouter un produit</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <app-pagination-controls
                        (pageChange)="p = $event"
                        previousLabel="Précédent"
                        nextLabel="Suivant"
                ></app-pagination-controls>

            </div>
        </div>
    </div>
</div>
