<div class="list-group list-group-transparent mb-0">

    <a class="list-group-item list-group-item-action d-flex align-items-center" routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}" routerLink="/library/{{ library.association.id }}">
        <span class="icon mr-3"><i class="fe"></i></span>Catalogue
    </a>

    <a class="list-group-item list-group-item-action d-flex align-items-center" routerLinkActive="active"
       [routerLinkActiveOptions]="{exact: true}" routerLink="/library/{{ library.association.id }}/loans">
        <span class="icon mr-3"><i class="fe fe-clock"></i></span>Mes prêts
    </a>

    <ng-container *ngIf="this.role.hasPermission('files') | async">
        <hr>

        <p><strong>Administration</strong></p>

        <a class="list-group-item list-group-item-action d-flex align-items-center" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}" routerLink="/library/{{ library.association.id }}/manager/loans">
            <span class="icon mr-3"><i class="fe fe-list"></i></span>Prêts
        </a>

        <a class="list-group-item list-group-item-action d-flex align-items-center" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}" routerLink="/library/{{ library.association.id }}/manager/catalog">
            <span class="icon mr-3"><i class="fe fe-book-open"></i></span>Catalogue
        </a>
    </ng-container>

</div>
