<navbar></navbar>


<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <div class="card-title">{{theme.name}}</div>
            <div class="card-options">
                <a routerLink="/forum" class="text-primary">Retour au forum</a>
            </div>
        </div>

        <div class="card-body border-bottom" *ngIf="theme.description != ''">
            {{ theme.description }}
        </div>

    </div>

    <div class="card">

        <div class="table-responsive">
            <table class="table card-table table-striped table-vcenter">
                <thead>
                <tr>
                    <th>Sujet</th>
                    <th class="text-right">Utilisateur</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let topic of list_topics | paginate: { itemsPerPage: 10, currentPage: p }">
                    <td><a routerLink="/forum/topic/{{ topic.id }}">{{topic.name}}</a></td>
                    <td class="text-right">{{topic.creator.id}}</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <app-pagination-controls
            (pageChange)="p = $event"
            previousLabel="Précédent"
            nextLabel="Suivant"
    ></app-pagination-controls>


    <div class="card">
        <div class="card-header">
            <div class="card-title">Créer un nouveau sujet</div>
            <div class="card-options">
                <a class="card-options-collapse" data-toggle="card-collapse" (click)="show_new_topic = !show_new_topic">
                    <i [ngClass]="{'fe-chevron-up': show_new_topic, 'fe-chevron-down': !show_new_topic, fe : true}"></i>
                </a>
            </div>
        </div>
        <div class="card-body" *ngIf="show_new_topic">
            <div class="form-group">
                <label class="form-label">Nouveau sujet</label>
                <input type="text" class="input-lg form-control" placeholder="Nouveau sujet"
                       [(ngModel)]="new_topic.name"/>
            </div>

            <label class="custom-switch col-md-6" *ngIf="!user.is_1A">
                <input type="checkbox" class="custom-switch-input" [(ngModel)]="new_topic.is_hidden_1A">
                <span class="custom-switch-indicator"></span>
                <span class="custom-switch-description">Sujet caché aux 1As</span>
            </label>

            <div class="form-group">
                <label class="form-label">Premier message</label>
                <angular-markdown-editor textareaId="first_message" [(ngModel)]="first_message" rows="10"
                                         name="markdownText" [options]="editorOptions"></angular-markdown-editor>
                <button type="button" class="mr-1 btn btn-success" (click)="save()">Publier</button>
            </div>
        </div>
    </div>
</div>
