<navbar></navbar>

<div class="page">
    <div class="page-main">

        <div class="container">
            <div class="page-header">
                <h1 class="page-title">{{topic.name}}</h1>
            </div>
			
            <div *ngFor="let message of list_messages">
			    <div class="card">
                    <div class="card-body" [innerHtml]="message.text"></div>
					<p><i>{{message.author.id}} le {{message.date}}</i></p>
				</div>
			</div>
			
			<div class="col-md-9">
				<h1>Répondre</h1>
                <div>
                    <div class="mb-3" [froalaEditor]="froalaOptions" [(froalaModel)]="answer_message"></div>

                    <button type="button" class="mr-1 btn btn-success" (click)="save()">Publier</button>
                </div>
            </div>
        </div>

    </div>
</div>