<navbar></navbar>

<div class="container mt-5">
    <div *ngIf="marketplace">
        <div class="page-header">
            <h3 class="page-title">Historique d'achat à {{ marketplace.association.name }}</h3>
        </div>
        <div class="row">
            <div class="col-md-3">
                <marketplace-sidebar [marketplace]="marketplace" [numberOfItems]="numberOfItems"></marketplace-sidebar>
            </div>
            <div class="col-md-9">

                <p class="text-danger" *ngIf="error">
                    Une erreur est survenue : {{ error }}
                </p>

                <div class="card" *ngIf="orders && orders.length > 0">
                    <table class="table card-table table-vcenter">
                        <tbody>
                        <tr *ngFor="let order of orders | paginate: { itemsPerPage: 5, currentPage: p }">
                            <td class="order-img">
                                <img
                                    src="http://cdn2.foodviva.com/static-content/food-images/juice-recipes/fresh-tomato-juice-recipe/fresh-tomato-juice-recipe.jpg"
                                >
                            </td>
                            <td>
                                <strong>{{ order.product.name }}</strong>
                            </td>
                            <td class="text-center text-muted d-none d-md-table-cell text-nowrap">
                                Quantité : {{ order.quantity  }}
                            </td>
                            <td class="text-right">
                                <strong>{{ order.value }}€</strong>
                            </td>
                            <td class="text-right">
                                <span *ngIf="order.status == 'ORDERED'" class="tag tag-blue">Commandée</span>
                                <span *ngIf="order.status == 'VALIDATED'" class="tag tag-lime">Validée</span>
                                <span *ngIf="order.status == 'DELIVERED'" class="tag tag-green">Délivrée</span>
                                <span *ngIf="order.status == 'CANCELLED'" class="tag tag-red">Annulée</span>
                                <span *ngIf="order.status == 'REFUNED'" class="tag tag-yellow">Remboursée</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <app-pagination-controls
                        (pageChange)="p = $event"
                        previousLabel="Précédent"
                        nextLabel="Suivant"
                ></app-pagination-controls>


                <div *ngIf="orders && orders.length == 0" class="card">
                    <div class="card-body">
                        <p class="text-center">Vous n'avez fait aucune commande jusqu'à maintenant</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
