<pagination-template #p="paginationApi"
                     (pageChange)="pageChange.emit($event)"
                     [id]="id">

    <nav style="display: flex;">
        <ul class="pagination mx-auto">
             <li [ngClass]="{disabled: p.isFirstPage(), 'page-item': true}">
                <a (click)="p.previous()" [ngClass]="{'page-link': true, disabled: p.isFirstPage()}">Précedent</a>
            </li>

            <li *ngFor="let page of p.pages" [ngClass]="{active: p.getCurrent() === page.value, 'page-item': true}">
                <a (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                    <span class="page-link">{{ page.label }}</span>
                </a>
                <div *ngIf="p.getCurrent() === page.value">
                    <span class="page-link">{{ page.label }}</span>
                </div>
            </li>

            <li [ngClass]="{disabled: p.isLastPage(), 'page-item': true}">
                <a (click)="p.next()" [ngClass]="{'page-link': true, disabled: p.isFirstPage()}">Suivant</a>
            </li>
        </ul>
    </nav>


</pagination-template>
