<navbar></navbar>

<div class="container mt-5">
    <div *ngIf="marketplace">
        <div class="page-header">
            <h3 class="page-title">Panier de {{ marketplace.association.name }}</h3>
        </div>
        <div class="row">

            <div class="col-md-3">
                <marketplace-sidebar [marketplace]="marketplace" [numberOfItems]="numberOfItems" [showBalance]="true"></marketplace-sidebar>
            </div>
            <div class="col-md-9">
                <p *ngIf="error" class="text-danger">
                    Une erreur est survenue : {{ error }}
                </p>

                <div class="card" *ngIf="pendingOrders && pendingOrders.length > 0">
                    <div class="card-header">
                        <p class="card-title">Commandes en attente</p>
                    </div>
                    <table class="table card-table table-vcenter">
                        <tbody>
                        <tr *ngFor="let order of pendingOrders ">
                            <td class="order-img">
                                <img
                                    src="http://cdn2.foodviva.com/static-content/food-images/juice-recipes/fresh-tomato-juice-recipe/fresh-tomato-juice-recipe.jpg"
                                >
                            </td>
                            <td>
                                <strong>{{ order.product.name }}</strong>
                            </td>
                            <td class="text-center text-muted d-none d-md-table-cell text-nowrap">
                                Quantité : {{ order.quantity  }}
                            </td>
                            <td class="text-right">
                                <strong>{{ order.value }}€</strong>
                            </td>
                            <td class="text-right">
                                <button class="btn btn-danger" (click)="cancel(order)">
                                    <i class="fe fe-shopping-cart"></i> Annuler
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="card">
                    <table class="table card-table table-vcenter">
                        <tbody>
                            <tr marketplace-product
                                *ngFor="let product of inBasket(marketplace.products)"
                                [product]="product"
                                [basketQuantity]="getQuantity(product)"
                                [displayImage]="true"
                                [displayDescription]="true"
                                (addProduct)="add(product)"
                                (changeQuantity)="setQuantity(product, $event)"
                            ></tr>
                        </tbody>
                    </table>

                    <p *ngIf="numberOfItems == 0" class="text-center m-4"><strong>Votre panier est vide</strong></p>
                </div>

                <button *ngIf="numberOfItems > 0" class="btn btn-success" (click)="order()">
                    <span class="fe fe-shopping-cart"></span>
                    Passer la commande
                </button>
            </div>
        </div>
    </div>
</div>
