<navbar></navbar>

<div class="container mt-5">
    <div *ngIf="marketplace">
        <div class="page-header">
            <h3 class="page-title">Comptoir de {{ marketplace.association.name }}</h3>
        </div>
        <div class="row">
            <div class="col-md-3">
                <marketplace-sidebar [marketplace]="marketplace" [numberOfItems]="numberOfItems"></marketplace-sidebar>
            </div>
            <div class="col-md-9">

                <p class="text-danger" *ngIf="error">
                    Une erreur est survenue : {{ error }}
                </p>

                <ng-container *ngIf="buyer == null">
                    <div class="card">
                        <div class="card-header">
                            <span class="fe fe-search" (click)="updateUserSearch()"></span>
                            <input type="text" class="form-control border-0" placeholder="Rechercher"
                                   [(ngModel)]="userSearch" (change)="updateUserSearch()">
                            <span class="fe fe-x" (click)="userSearch = '' ; updateUserSearch() ;"
                                  *ngIf="userSearch != ''"></span>


                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div *ngFor="let user of users$ | async" class="col-md-2 text-center"
                                     (click)="setBuyer(user)">
                                    <profile-photo [user]="user"></profile-photo>
                                    <p class="mt-2">{{ user.id }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <ng-container *ngIf="buyer != null">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Achat pour {{ buyer.id }} ({{ balance }}€ sur le compte)</div>
                            <div class="card-options">
                                <button class="btn btn-danger btn-sm" (click)="buyer = null">Annuler</button>
                            </div>
                        </div>
                        <table class="table card-table table-vcenter">
                            <tbody>
                            <ng-container *ngFor="let basketItem of userBasket | keyvalue">
                                <tr marketplace-product
                                    *ngIf="basketItem.value.product.still_in_the_catalogue"
                                    [product]="basketItem.value.product"
                                    [basketQuantity]="userBasket[basketItem.value.product.id].quantity"
                                    (addProduct)="addProduct(basketItem.value.product)"
                                    (changeQuantity)="setQuantity(basketItem.value.product, $event)"
                                ></tr>
                            </ng-container>
                            </tbody>
                        </table>
                    </div>

                    <p *ngIf="numberOfBuyerItems > 0">
                        <button class="btn btn-success" (click)="order()">
                            <span class="fe fe-cash"></span>
                            Enregister la commande
                        </button>
                    </p>

                    <div class="card">
                        <div class="card-header">
                            <span class="fe fe-search" (click)="updateProductSearch()"></span>
                            <input type="text" class="form-control border-0" placeholder="Rechercher"
                                   [(ngModel)]="productSearch" (change)="updateProductSearch()">
                            <span class="fe fe-x" (click)="productSearch = '' ; updateProductSearch() ;"
                                  *ngIf="productSearch != ''"></span>

                        </div>
                        <table class="table card-table table-vcenter">
                            <tbody>
                            <ng-container
                                    *ngFor="let product of products$ | async | paginate: { itemsPerPage: 7, currentPage: p }">
                                <tr marketplace-product
                                    *ngIf="product.still_in_the_catalogue"
                                    [product]="product"
                                    [basketQuantity]="userBasket[product.id] ? userBasket[product.id].quantity : 0"
                                    (addProduct)="addProduct(product)"
                                    (changeQuantity)="setQuantity(product, $event)"
                                ></tr>
                            </ng-container>
                            </tbody>
                        </table>
                    </div>

                    <app-pagination-controls
                            (pageChange)="p = $event"
                            previousLabel="Précédent"
                            nextLabel="Suivant"
                    ></app-pagination-controls>

                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label class="form-label">Garnir le compte</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="ex: 3.00" [(ngModel)]="moneyToAdd">
                                    <span class="input-group-append">
                                        <span class="input-group-text"> €</span>
                                    </span>
                                </div>
                                <div class="mt-3">
                                    <button class="btn btn-secondary btn-sm" (click)="addMoney()">Valider</button>
                                    <span [ngClass]="{
                                        'ml-2': true,
                                        'text-success': addMoneyStatus == 'success',
                                        'text-danger': addMoneyStatus == 'error'}
                                    ">{{ addMoneyMessage }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>


            </div>

        </div>
    </div>

</div>
