<navbar></navbar>

<div class="container mt-5">
    <div *ngIf="error">
        <p class="text-danger">
            Une erreur est survenue {{ error }}
        </p>
    </div>

    <div *ngIf="association && folder">
        <div class="row">
            <!-- Association sidebar. -->
            <div class="col-md-3">
                <association-sidebar [association]="association"></association-sidebar>
            </div>

            <!-- Association folder. -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Ajouter un fichier à {{ folder.name }}</h3>
                        <div class="card-options">
                            <a
                                class="btn btn-secondary btn-sm ml-2"
                                *ngIf="folder.id"
                                routerLink="/associations/{{association.id}}/files/{{folder.id}}"
                            >Annuler</a>

                            <a
                                class="btn btn-secondary btn-sm ml-2"
                                *ngIf="!folder.id"
                                routerLink="/associations/{{association.id}}/files"
                            >Annuler</a>
                        </div>
                    </div>

                    <div class="card-body">
                        <form class="form-group" [formGroup]="addFileForm" (ngSubmit)="onSubmit()">
                            <div class="form-group">
                                <label class="form-label">Nom du fichier<span class="form-required">*</span></label>
                                <input type="text" formControlName="name" class="form-control" required />
                            </div>

                            <div class="form-group">
                                <label class="form-label">Description (facultative)</label>
                                <textarea formControlName="description" class="form-control"></textarea>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Fichier</label>
                                <input type="file" formControlName="file" class="form-control" id="file" (change)="onFileChange($event)" #fileInput>
                            </div>

                            <button type="submit" [disabled]="!addFileForm.valid" class="btn btn-success">Envoyer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
