<navbar></navbar>

<div class="container mt-5">
    <div *ngIf="association && users">
        <div class="row">
            <div class="col-md-3">
                <association-sidebar [association]="association"></association-sidebar>
            </div>

            <div class="col-md-9" *ngIf="!editing">
                <div class="page-header mb-5">
                    <h1 class="page-title">Membres de l'associations</h1>
                    <div class="page-options d-flex">
                        <a (click)="editing = true ; status = ''">Editer</a>
                    </div>
                </div>
                <p [innerHTML]="status"></p>

                <div class="card" *ngFor="let group of association.groups">
                    <div class="card-header">
                        <div class="card-title">{{ group.role }}</div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-2 text-center" *ngFor="let member_id of group.members">
                                <a routerLink="/user/{{ users[member_id].id }}">
                                    <profile-photo [user]="users[member_id]"></profile-photo>
                                    <p class="mt-2">{{ users[member_id].first_name }} {{ users[member_id].last_name }}</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9" *ngIf="editing">
                <div class="page-header mb-5">
                    <h1 class="page-title">Membres de l'associations</h1>
                    <div class="page-options d-flex">
                        <a (click)="stopEdit()">Terminer</a>
                    </div>
                </div>
                <p [innerHTML]="status"></p>

                <div class="card" *ngFor="let group of association.groups">
                    <div class="card-header">
                        <div class="card-title">
                            <input type="text" class="input-lg form-control" [(ngModel)]="group.role">
                        </div>
                        <div class="card-options">
                            <a (click)="deleteGroup(group)">Supprimer</a>
                        </div>
                    </div>
                    <div class="card-body border-bottom">
                        <div class="form-group">

                            <div class="row">
                                <div class="col-md-6" *ngFor="let field of rightFields">
                                    <label class="custom-switch">
                                        <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" [(ngModel)]="group[field[1]]">
                                        <span class="custom-switch-indicator"></span>
                                        <span class="custom-switch-description">{{ field[0] }}</span>
                                    </label>
                                </div>
                            </div>

                            <ng-select [items]="users"
                                       bindLabel="id"
                                       [multiple]="true"
                                       [(ngModel)]="group.members"
                                       placeholder="Membres"
                                       class="mt-4"
                            >
                            </ng-select>
                        </div>
                    </div>
                </div>

                <button role="button" class="btn btn-primary" (click)="createGroup()">Créer un groupe</button>
            </div>
        </div>
    </div>

    <div *ngIf="error">
        <p class="text-danger">Une erreur est survenue {{ error }}</p>
    </div>
</div>

