<navbar></navbar>

<div class="container mt-5">
    <div *ngIf="association">
        <div class="row">
            <div class="col-md-3">
                <association-sidebar [association]="association"></association-sidebar>
            </div>
            <div class="col-md-9">
                <div class="page-header mb-5">
                    <h1 class="page-title">
                        Membres de l'associations
                    </h1>
                </div>

                <div class="card">
                    <div class="table-responsive">
                    <table class="table card-table table-striped table-vcenter">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let group of association.groups">
                                <tr *ngFor="let member of group.members">
                                    <td><a routerLink="/user/{{ member.id }}">{{member.first_name}} {{member.last_name}}</a></td>
                                    <td>{{group.role}}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="error">
        <p class="text-danger">Une erreur est survenue {{ error }}</p>
    </div>
</div>

