<navbar></navbar>

<div class="container mt-4">
    <div *ngIf="user">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body text-center">

                    <profile-photo [user]="user"></profile-photo>
                    <h2 class="mt-2 mb-0">
                        {{ user.first_name }}
                        <span *ngIf="user.nickname"> "{{ user.nickname }}" </span>
                        {{ user.last_name }}
                    </h2>

                    <p>
                        <a routerLink="/user/{{ user.id }}/edit">Modifier mon profil</a> -
                        <a routerLink="/monprofil/editer/motdepasse">Modifier mon mot de passe</a>
                    </p>

                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <strong>Parrain : </strong> {{ user.minesparent }} <br>
                    <br>
                    <strong>Email : </strong> {{ user.email }} <br>
                    <strong>Téléphone : </strong> {{ user.phone }}<br>
                    <br>
                    <div *ngIf="user.room">
                        <strong>Chambre : </strong> {{ user.room }} <br>
                    </div>
                    <ng-template #elseBlock>
                        <strong>Addresse de PAM : </strong> {{ user.address }} <br>
                    </ng-template>
                    <strong>Ville d'origine : </strong> {{ user.city_of_origin }}<br>

                    <br>

                    <strong>Option : </strong> {{ user.option }} <br>
                    <strong>Sports : </strong> {{ user.sport }} <br>

                    <div *ngFor="let question of questions">
                        <strong>{{question.text}}</strong> :
                        <span *ngIf="question.answer">{{question.answer.text}}</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div *ngIf="error">
        <p class="text-danger">
            Une erreur est survenue {{ error }}
        </p>
    </div>
</div>
