<navbar></navbar>

<div class="container mt-5">
    <div *ngIf="association && page">
        <div class="row">
            <div class="col-md-3">
                <association-sidebar [(association)]="association"></association-sidebar>
            </div>

            <div class="col-md-9" *ngIf="!editing">
                <div class="page-header mb-5">
                    <h1 class="page-title">{{ page.title }}</h1>
                    <div class="page-options d-flex">
                        <a (click)="editing = true">Editer</a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <markdown [data]="page.text"></markdown>
                    </div>
                </div>

            </div>

            <div class="col-md-9" *ngIf="editing">
                <div class="page-header mb-5">
                    <input class="input-lg form-control" [(ngModel)]="page.title"/>
                    <p [innerHtml]="status"></p>
                </div>

                <div>
                    <angular-markdown-editor textareaId="page_edit" [(ngModel)]="page.text" rows="10" name="markdownText" [options]="editorOptions"></angular-markdown-editor>

                    <button type="button" class="mr-2 mt-2 btn btn-success" (click)="save()">Enregistrer</button>
                    <button type="button" class="mr-1 mt-2 btn btn-danger" (click)="delete()">Supprimer la page</button>
                </div>

            </div>
        </div>
    </div>

    <div *ngIf="error">
        <p class="text-danger">
            Une erreur est survenue {{ error }}
        </p>
    </div>
</div>

