<div class="card"
     *ngFor="let n of news | async | paginate: { itemsPerPage: 10, currentPage: p }">
    <div class="card-header">
        <h3 class="card-title">{{ n.title }}</h3>
        <div class="card-options">
            Par <a routerLink="/associations/{{n.association}}/"
                   class="mx-1"> {{n.association}} </a> {{moment(n.date).fromNow()}}
        </div>
    </div>
    <div class="card-body">
        <div>
            <markdown [data]="n.text"></markdown>
        </div>
    </div>
    <div class="card-footer" style="display: flex;">
        <div class="card-options">
      <span>
      </span>
        </div>
    </div>
</div>

<app-pagination-controls
        (pageChange)="p = $event"
        previousLabel="Précédent"
        nextLabel="Suivant"
></app-pagination-controls>
