<div class="header py-4">
    <div class="container">
        <div class="d-flex">
            <a class="header-brand" routerLink="/">
                <img src="assets/images/logo-mines.png" class="header-brand-img" alt="site logo">
            </a>
            <div class="d-flex order-lg-2 ml-auto">
                <div class="dropdown">
                    <div class="nav-link pr-0 leading-none" (click)="showNavBarMenu = !showNavBarMenu">
                        <span class="avatar"></span>
                        <span class="ml-2 d-lg-block">
                            <span class="text-default">{{ user?.first_name }} {{ user?.last_name[0] }}</span>
                            <small class="text-muted d-block mt-1">P{{user?.promotion}}</small>
                        </span>
                    </div>
                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow" [ngClass]="{'show' : showNavBarMenu}">
                        <a class="dropdown-item" *ngIf="user" routerLink="/user/{{ user.id }}">
                            <i class="dropdown-icon fe fe-user"></i> Profil
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="dropdown-icon fe fe-settings"></i> Paramètres
                        </a>
                        <div class="dropdown-item" (click)="logout()">
                            <i class="dropdown-icon fe fe-log-out"></i> Déconnexion
                        </div>
                    </div>
                </div>
            </div>
            <a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
                <span class="header-toggler-icon"></span>
            </a>
        </div>
    </div>
</div>
<div class="header collapse d-lg-flex p-0" id="headerMenuCollapse">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg order-lg-first">
                <ul class="nav nav-tabs border-0 flex-column flex-lg-row">
                    <li class="nav-item">
						<a routerLink="/" class="nav-link" [ngClass]="{'active': isActive('^\/$')}"><i class="fe fe-home"></i>Accueil</a>
                    </li>
										
					<li class="nav-item dropdown" dropdown>
						<a dropdownToggle class="nav-link" [ngClass]="{'active': isActive('^\/association')}"><i class="fe fe-power"></i>Associations</a>
						<div *dropdownMenu class="dropdown-menu dropdown-menu-arrow">
								<a *ngFor="let association of list_associations_short" class="dropdown-item" routerLink="/associations/{{ association.id }}">{{association.name}}</a>
								<div class="dropdown-divider"></div>
								<a routerLink="/associations" class="dropdown-item">Toutes les associations</a>
						</div>
                    </li>
                    <li class="nav-item">
						<a routerLink="/users" class="nav-link" [ngClass]="{'active': isActive('^\/user')}"><i class="fe fe-users"></i>Trombinoscope</a>
                    </li>
                    <li class="nav-item">
						<a routerLink="/forum" class="nav-link" [ngClass]="{'active': isActive('^\/forum')}"><i class="fe fe-message-circle"></i>Forum</a>
                    </li>
                    <li class="nav-item">
						<a routerLink="/repartitions" class="nav-link" [ngClass]="{'active': isActive('^\/repartitions')}"><i class="fe fe-users"></i>Repartitions</a>

                    <li class="nav-item">
						<a routerLink="/rer" class="nav-link" [ngClass]="{'active': isActive('^\/rer')}"><i class="fe fe-clock"></i>Horaires RER B</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

