<div class="card-header">
    <div class="card-status bg-red"></div>
    <h4 class="card-title">Anniversaires</h4>
</div>
<div class="card-body">
    <ng-container *ngFor="let bd of birthdays">
        <h4>{{bd.date | date:'d MMMM'}}</h4>
        <ul class='list-unstyled list-separated'>
            <li class="row">
                <ng-container *ngFor="let user of bd.users">
                    <div class="row align-items-center mr-4">
                        <div class="col-auto">
                            <profile-photo [user]="user" size='md' extra_classes="d-block"></profile-photo>
                        </div>
                        <div class="col">
                            <div>
                                <a routerLink="/user/{{user.id}}" class="text-inherit">{{user.id}}</a>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </li>
        </ul>
    </ng-container>
    <p *ngIf="birthdays.length == 0" class="text-center">
        <em class="text-secondary">Pas d'anniversaires prochainement</em>
    </p>

</div>
