<!-- Display the path of the folder. -->

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <!-- If the folder has a parent folder, display the entire path. -->
        <ng-container *ngIf="folder && folder.filiation">
            <!-- First link: the association name. -->
            <li class="breadcrumb-item">
                <a routerLink="/associations/{{ (association).id }}/files">{{ (association).name }}</a>
            </li>


            <!-- The following links: the path. -->
            <li class="breadcrumb-item" *ngFor="let a of folder.filiation">
                <a routerLink="/associations/{{ association.id }}/files/{{ a.id }}">{{ a.name }}</a>
            </li>

            <li *ngIf="!selected_file" class="breadcrumb-item active" aria-current="page">{{ folder.name }}</li>

            <li *ngIf="selected_file" class="breadcrumb-item text-primary" aria-current="page"
                (click)="selected_file = null">
                <a routerLink="/associations/{{ association.id }}/files/{{ folder.id }}">
                    {{ folder.name }}
                </a>
            </li>
        </ng-container>

        <!-- The folder is the root folder: only display the (association name). -->
        <ng-container *ngIf="!folder || !(folder.filiation)">
            <li *ngIf="!selected_file" class="breadcrumb-item">
                {{ association.name }}
            </li>

            <li *ngIf="selected_file" class="breadcrumb-item text-primary" aria-current="page"
                (click)="selected_file = null">
                <a routerLink="/associations/{{ association.id }}/files/">
                    {{ association.name }}
                </a>
            </li>
        </ng-container>


        <li *ngIf="selected_file" class="breadcrumb-item active" aria-current="page">
            {{ selected_file.name }}
        </li>
    </ol>
</nav>
