<navbar></navbar>

<div class="container mt-5">
    <div *ngIf="library">
        <div class="page-header">
            <h3 class="page-title">Prêts de {{ library.association.name }}</h3>
        </div>
        <div class="row">
            <div class="col-md-3">
                <library-sidebar [library]="library"></library-sidebar>
            </div>
            <div class="col-md-9">

                <p class="text-danger" *ngIf="error">
                    Une erreur est survenue : {{ error }}
                </p>

                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Enregistrer un prêt</div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Nom de la personne</label>
                                    <ng-select
                                            [items]="users | async"
                                            [multiple]="false"
                                            bindLabel="id"
                                            bindValue="id"
                                            placeholder="Client"
                                            [(ngModel)]="new_loan.user"
                                            [closeOnSelect]="true"
                                    >
                                    </ng-select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Objet prété</label>
                                    <ng-select
                                            [items]="loanables | async"
                                            [multiple]="false"
                                            bindLabel="name"
                                            bindValue="id"
                                            placeholder="Objet"
                                            [(ngModel)]="new_loan.loanable"
                                            [closeOnSelect]="true"
                                    >
                                    </ng-select>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Date de rendu</label>
                                    <input class="form-control range" placeholder="yyyy-mm-dd"
                                           name="dp" [(ngModel)]="new_loan.expected_return_date"
                                           ngbDatepicker #nd="ngbDatepicker"
                                           (click)="nd.toggle()"
                                    >
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-secondary btn-sm" (click)="saveLoan()">Enregistrer</button>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Filter les prêts</div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label">Utilisateurs</label>
                                    <ng-select
                                            [items]="users | async"
                                            [multiple]="true"
                                            bindLabel="id"
                                            placeholder="Client"
                                            [(ngModel)]="filter.users"
                                            (change)="filterOrders()"
                                            [closeOnSelect]="false"
                                    >
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Status</label>
                                    <ng-select
                                            [items]="status"
                                            [multiple]="true"
                                            [searchable]="false"
                                            bindLabel="label"
                                            placeholder="Status de la commande"
                                            [(ngModel)]="filter.status"
                                            (change)="filterOrders()"
                                            [closeOnSelect]="false"
                                    >
                                    </ng-select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="form-label">Date</label>
                                    <div class="input-group">
                                        <input class="form-control range" placeholder="yyyy-mm-dd"
                                               name="dp" [(ngModel)]="filter.date" (ngModelChange)="filterOrders()"
                                               ngbDatepicker #d="ngbDatepicker"
                                        >
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" (click)="d.toggle()"
                                                    type="button">
                                                <span class="fe fe-calendar"></span>
                                            </button>
                                        </div>
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-danger"
                                                    (click)="filter.date = '' ; filterOrders();" type="button">
                                                <span class="fe fe-x"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="card">
                    <table class="table card-table table-vcenter">
                        <thead>
                        <tr>
                            <th>Nom</th>
                            <th class="text-center">Emprunt</th>
                            <th class="text-center">Utilisateur</th>
                            <th class="text-center">Status</th>
                            <th class="text-center">Retour prévu</th>
                            <th class="text-center">Retour réel</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let loan of loans | async | paginate: { itemsPerPage: 10, currentPage: p }">
                            <td>{{ loan.loanable.name }}</td>
                            <td class="text-center">{{ loan.loan_date | date:"dd/MM/yyy" }}</td>
                            <td class="text-center">{{ loan.user }}</td>
                            <td class="text-center">
                                <ng-container *ngFor="let s of status">
                                    <span
                                            [ngbPopover]="popContent"
                                            *ngIf="loan.status == s.value"
                                            class="tag tag-{{ s.color }}"

                                            placement="right" ngbTooltip="Cliquez pour modifier le status"
                                    >
                                        {{ s.label }}
                                        <span class="tag-addon" *ngIf="loan.activity"><i
                                                class="fe fe-{{ loan.activity }}"></i></span>
                                    </span>
                                </ng-container>

                                <ng-template #popContent>
                                    <div class="tags">
                                        <span *ngFor="let s of status"
                                              class="tag tag-{{ s.color }}"
                                              (click)="updateStatus(loan, s)"
                                        >{{ s.label }} </span>
                                    </div>
                                </ng-template>

                            </td>
                            <td class="text-center">{{ loan.expected_return_date | date:"dd/MM/yyy"  }}</td>
                            <td class="text-center">{{ loan.real_return_date | date:"dd/MM/yyy"  }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <app-pagination-controls
                        (pageChange)="p = $event"
                        previousLabel="Précédent"
                        nextLabel="Suivant"
                ></app-pagination-controls>


                <div *ngIf="loans && loans.length == 0" class="card">
                    <div class="card-body">
                        <p class="text-center">Vous n'avez fait aucune commande jusqu'à maintenant</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="!library && error">
        <p class="text-danger">
            Une erreur est survenue : {{ error }}
        </p>
    </div>
</div>
