<navbar></navbar>

<div class="container mt-5">

    <div class="page-header">
        <h1 class="page-title">Horaires RER B</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">En direction de Cité Universitaire</div>
                </div>
                <div class="card-body">
                    <ul class="timeline">
                        <li class="timeline-item">
                            <div class="timeline-badge bg-primary"></div>
                            <div>
                                <strong>Luxembourg</strong>
                                <small class="d-block text-muted">
                                    <span class="tag ml-2">12:34</span>
                                    <span class="tag ml-2">12:58</span>
                                    <span class="tag ml-2">13:05</span>
                                    <span class="tag ml-2">13:15</span>
                                </small>
                            </div>
                            <div class="timeline-time text-muted-dark">5 minutes</div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-badge"></div>
                            <div>
                                <strong>Station B</strong>
                                <small class="d-block text-muted">
                                    <span class="tag ml-2">12:44</span>
                                    <span class="tag ml-2">13:08</span>
                                    <span class="tag ml-2">13:15</span>
                                    <span class="tag ml-2">13:25</span>
                                </small>
                            </div>
                            <div class="timeline-time text-muted-dark">15 minutes</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">En direction de Chatelet-les-Halles</div>
                </div>
                <div class="card-body">
                    <ul class="timeline">
                        <li class="timeline-item">
                            <div class="timeline-badge bg-primary"></div>
                            <div>
                                <strong>Luxembourg</strong>
                                <small class="d-block text-muted">
                                    <span class="tag ml-2">12:34</span>
                                    <span class="tag ml-2">12:58</span>
                                    <span class="tag ml-2">13:05</span>
                                    <span class="tag ml-2">13:15</span>
                                </small>
                            </div>
                            <div class="timeline-time text-muted-dark">5 minutes</div>
                        </li>
                        <li class="timeline-item">
                            <div class="timeline-badge"></div>
                            <div>
                                <strong>Station C</strong>
                                <small class="d-block text-muted">
                                    <span class="tag ml-2">12:44</span>
                                    <span class="tag ml-2">13:08</span>
                                    <span class="tag ml-2">13:15</span>
                                    <span class="tag ml-2">13:25</span>
                                </small>
                            </div>
                            <div class="timeline-time text-muted-dark">15 minutes</div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
