<navbar></navbar>

<div class="container mt-5">

    <div class="page-header">
        <h1 class="page-title">Horaires RER B</h1>
    </div>

    <div class="row" *ngIf="trains">
        <div class="col-md-6" *ngFor="let train of trains">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">En direction de {{train.direction}}</div>
                </div>
                <div class="card-body">
                    <ul class="timeline">
                        <li class="timeline-item" *ngFor="let stop of train.stops">
                            <div [ngClass]="{'timeline-badge': true, 'bg-primary': close_stops.indexOf(stop.name) > -1}"></div>
                            <div>
                                <strong>{{stop.name}}</strong>
                                <small class="d-block text-muted">
                                    <span class="tag ml-2" *ngFor="let time of stop.timetable">
                                        {{time.train_id}} - {{time.time|date:"HH:mm"}}
                                    </span>
                                </small>
                            </div>
                            <div class="timeline-time text-muted-dark" *ngIf="close_stops.indexOf(stop.name) > -1">
                                {{stop|waitTime|date:"HH:mm"}} minutes
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <p class="text-danger" *ngIf="error.length > 0">Une erreur est survenue : {{error}}</p>
</div>
