name: Blackend

on:
  pull_request:
      branches: [ master ]

jobs:
  blackend:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v1

      - name: Install Black
        run: pip install black==22.3.0

      - name: Run Black
        run: black --check backend
