<navbar></navbar>

<div class="container mt-5">
    <div *ngIf="marketplace">
        <div class="page-header">
            <h3 class="page-title">Magasin de {{ marketplace.association.name }}</h3>
        </div>
        <div class="row">
            <div class="col-md-3">
                <marketplace-sidebar [marketplace]="marketplace" [numberOfItems]="numberOfItems" [showBalance]="true"></marketplace-sidebar>
            </div>
            <div class="col-md-9">

                <div class="card">
                    <table class="table card-table table-vcenter">
                        <tbody>
                        <ng-container *ngFor="let product of products | async | paginate: { itemsPerPage: 5, currentPage: p }">
                            <tr marketplace-product
                                [product]="product"
                                [basketQuantity]="getQuantity(product)"
                                [displayImage]="true"
                                [displayDescription]="true"
                                (addProduct)="add(product)"
                                (changeQuantity)="setQuantity(product, $event)"
                            ></tr>
                        </ng-container>
                        </tbody>
                    </table>
                </div>

                <app-pagination-controls
                        (pageChange)="p = $event"
                        previousLabel="Précédent"
                        nextLabel="Suivant"
                ></app-pagination-controls>
            </div>
        </div>
    </div>

    <div *ngIf="error">
        <p class="text-danger">
            Une erreur est survenue : {{ error }}
        </p>
    </div>
</div>
